@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 1.18;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-inline: auto;
  flex-grow: 1;
}

main {
  background-color: #ffffff;
  flex-grow: 1;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page-header {
  display: flex;
  gap: 28px;
  padding-inline: 70px;
  color: #000000;
  background-color: #ffffff;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  /* align-items: start; Не понимаю, почему навигация не прибита к верху*/
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  padding: 0;
  margin:  0;
  margin-right: auto;
  list-style-type: none;
}

.navigation-user-list {
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
  text-decoration: none;
}

.navigation-count {
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;
  margin-right: 20px;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
}

.button-search,
.button-subscribe {
  font-size: 20px;
  line-height: 1.8;
}

.button-subscribe,
.button-apply,
.button-favorite {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
  color: inherit;
}

.button-selected {
  background-color: #7db54f;
}

.hero {
  padding-block: 51px 82px;
  background-image: url(../images/hero-vector.svg), url(../images/hero-background.jpg);
  background-size: 100% auto, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  background-color: #0071b9;
  color: #ffffff;
  text-align: center;
  margin-bottom: 69px;
}

.hero-image {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

/* .advantages {
}
*/



.advantages-list {
  text-align: center;
  list-style-type: none;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.section-text {
  text-align: center;
  background-color: #ffffff;
}

.advantages-item {
  background-color: #f0f5f9;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-dark {
  background-color: #82b3d3;
}

.list-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.list-title-light {
  color: #ffffff;
}

.list-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  text-align: inherit;
  color: #333333;
}

.list-text-light {
  color: #ffffff;
}

.services {
  text-align: center;
}

.services-list {
  list-style-type: none;
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-item:nth-child(odd) {
  background-color: #f0f5f9;
}

.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  text-align: center;
  color: #ffffff;
  background-color: #0071b9;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.subscription-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.page-footer {
  display: flex;
  padding-inline: 70px;
  align-items: center;
  background-color: #ffffff;
}

.social-list {
  list-style-type: none;
}

.contacts {
  margin-left: auto;
  margin-right: auto;
}
.contacts-address-phone {
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.filter {
  color: #ffffff;
  background-color: #0071b9;
  background-image: url(../images/filter-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.31;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-filter {
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.filter-price {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.control {
  font-size: 18px;
  line-height: 1.28;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.17;
  color: #333333;
  background-color: #ffffff;
}

.catalog-view {
  list-style-type: none;
}

.catalog-view-item {
  text-decoration: none;
}

.catalog-results {
  list-style-type: none;
}

.catalog-result-link {
  text-decoration: none;
}

.catalog-result-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
}

.hotel-type {
  font-size: 18px;
  line-height: 1.17;
}

.hotel-price {
  font-size: 18px;
  line-height: 1.17;
}

.rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

.subscribe-inner {
  text-align: center;
  background-color: #ffffff;
}

.pagination{
  list-style-type: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item {
  background-color: #82b3d3;
}

.pagination-link.active {
  color: #000000;
}

.pagination-item.active {
  background-color: #f2f2f2;
}
